body {
  width: 100%;
  background-color: #070C10 !important;
  color: white !important;
}

.contact-us-btn {
  height: 40px;
  border-radius: 7px 0 7px 7px !important;
  box-shadow: 0 4px 8px rgba(0, 201, 201, 0.57);
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1608px !important;
  }
}
